// Copyright 2019 Siemens Product Lifecycle Management Software Inc.

body.ui-lightTheme {
    //All border color are need to analyzed and need to remove in 2412
    .aw-cfg-fscBorder-chartColorUnchanged,
    .aw-cfg-fscCharts-chartColorUnchanged {
        border-color: $PL_Black_25; // #f0f0f0
    }

    .aw-cfg-fscBorder-chartColorModified,
    .aw-cfg-fscCharts-chartColorModified {
        border-color: $Siemens_Yellow_11; // #eb780a
    }

    .aw-cfg-familyHighlightedForCompletenessCheck .aw-layout-collapsiblePanelSectionTitle {
        border-color: $Siemens_Blue_7;
    }

    .keyboard .aw-cfg-FreeFormIcon.sw-aria-border:focus {
        border-color: $Siemens_Blue_9;
    }

    .aw-cfg-fullScreenPage .aw-layout-column {
        background-color: $PL_Black_26;
    }

    // As we are using SWF widget they should support the background color to white/black as per light or dark theme
    .pca0scopes .aw-widgets-cellListWidget {
        background-color: $Siemens_Snow;
    }

    .aw-cfg-fullScreenPage .afx-alt-content-background .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-cellListItemSelected){
        border-right-color:  $PL_Black_25; // #f0f0f0 ;
        border-left-color:$PL_Black_25;
    }

    .aw-cfg-fullScreenPage .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-dropframe) {
        border-top-color:  $Siemens_Snow;
        border-bottom-color:  $Siemens_Snow;
    }

    .pca0scopes .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-dropframe):first-child {
        border-top-color:$PL_Black_25;
    }

    .pca0scopes .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-dropframe) {
        border-top-color:  $PL_Black_25; // #f0f0f0
        border-bottom-color:  $Siemens_Snow;
    }

    .aw-cfg-featureBorder {
        border-color: $PL_Black_23;
    }

    .aw-cfg-fscValueNoThumbnail:hover {
        background: $Natural_Blue_11;
    }

    .aw-cfg-gridHeaderCellBackgroundHighlight {
        background-color: $Siemens_Blue_24;
    }

    .aw-cfg-value.aw-panelSection {
        border-color: $brand_secondary_border;
    }

    .aw-cfg-lastValue.aw-panelSection {
        border-color: $brand_secondary_border;
    }

    .aw-cfg-featuresData {
        border-color: $brand_secondary_border;
        background-color: $Siemens_Snow;
    }

    .aw-cfg-requiredFamilyIndicator {
        color: $guidance_information_color;
    }
}
