// Copyright 2025 Siemens Product Lifecycle Management Software Inc.

.aw-clusterSearch-clusterChartTitle {
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-align: center;
}
