// Copyright 2020 Siemens Product Lifecycle Management Software Inc.

.aw-solutionvariantjs-popupColor {
    border: $default_border;
    border-radius: $default_border_radius;
    border-left-width: rem-calc(4);
    border-left-style: solid;
    margin-bottom: $margin_normal;
    max-width: $popup_container_max_width;
    word-break: break-word;
}

.aw-solutionvariantjs-headerTitle {
    padding-left: $padding_xlarge;
}

.aw-solutionvariantjs-buttonSeparator {
    padding-left: $padding_small;
    padding-right: $padding_small
}

.aw-solutionvariantjs-labelSeparator {
    padding-left: rem-calc(48);
}