// Copyright 2020 Siemens Product Lifecycle Management Software Inc.
@import 'mixins/mixins';

.aw-solutionvariantjs-popupColor {
    border-color: $brand_status_information_accent;
    background-color: $brand_status_information_background;
    color: $brand_primary_content_text;
    border-left-color: $brand_status_information;
}

.aw-solutionvariantjs-previewLink {
    color: $brand_secondary_link;
}

.aw-solutionvariantjs-svSource a {
    color: $PL_Green_25;
    font-style: $changed_content_font_style;
    
    &:visited {
            color: $PL_Green_25;
    }

    &:hover {
            color: $link_main_hover;
    }
}