// Copyright 2021 Siemens Product Lifecycle Management Software Inc.
/* snapshottool */

.aw-viewersnapshot-snapshotPanel .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-dropframe) {
    border-color: $aw_gray_23;
}
.aw-viewersnapshot-empty-center {
    color: $aw_gray_9;
}

.aw-viewersnapshot-loadingSkeleton {
    background-image:
        linear-gradient(90deg, rgba($Siemens_Snow, 0), rgba($Siemens_Snow, 0.50) 50%, rgba($Siemens_Snow, 0) 100%),
        linear-gradient(rgba($PL_Black, 0.1) 10px, transparent 0),
        linear-gradient(rgba($PL_Black, 0.1) 10px, transparent 0),
        linear-gradient(rgba($PL_Black, 0.1) 10px, transparent 0),
        linear-gradient(rgba($PL_Black, 0.1) 10px, transparent 0);
}