// Copyright 2023 Siemens Product Lifecycle Management Software Inc.

.sw-ddsAdminChart-pass1 {
    background-color: $Siemens_Status_Green;
}

.sw-ddsAdminChart-fail1 {
    background-color: $Charting_Red_Base;
}

.sw-ddsAdminChart-pending1 {
    background-color: $Siemens_Yellow_18;
}

.sw-ddsAdminChart-failpass1 {
    background-color: $Siemens_Status_Green;
}

.sw-ddsAdminChart-failpass2 {
    background-color: $Charting_Red_Base;
}

.sw-ddsAdminChart-pendingpass1 {
    background-color: $Siemens_Status_Green;
}

.sw-ddsAdminChart-pendingpass2 {
    background-color: $Siemens_Yellow_18;
}

.sw-ddsAdminChart-pendingfail1 {
    background-color: $Siemens_Yellow_18;
}

.sw-ddsAdminChart-pendingfail2 {
    background-color: $Charting_Red_Base;
}

.sw-ddsAdminChart-all1 {
    background-color: $Siemens_Status_Green;
}

.sw-ddsAdminChart-all2 {
    background-color: $Siemens_Yellow_18;
}

.sw-ddsAdminChart-all3 {
    background-color: $Charting_Red_Base;
}
