// Copyright 2023 Siemens Product Lifecycle Management Software Inc.

.sw-ddsAdminObjdataIndexer-diagnosticResults {

    .sw-ddsAdminObjdataIndexer-diagnosticMessages {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;

        .sw-ddsAdminObjdataIndexer-diagnosticDefaultMessage,
        .sw-ddsAdminObjdataIndexer-diagnosticNoresultsFoundMessage {
            font-size: $fontsize_large;
        }
    }

    .sw-ddsAdminObjdataIndexer-diagnosticResultsData {

        .sw-section {
            height: 100%
        }

        .sw-ddsadminobjdataindexer-diagnosticresultradio .sw-radio-group .sw-radio {
            margin-bottom: 0;
        }

        .sw-ddsAdminObjdataIndexer-diagnosticsTable {
            .sw-section {
                height: rem-calc(550);
            }
            .sw-ddsAdminObjdataIndexer-diagnosticSplmTable {
                .aw-splm-table{
                    height: rem-calc(500);
                }
            }
        }
    }
}

.sw-diagnostic-tooltipTitle {
    font-weight: bold
}

.sw-ddsAdminObjdataIndexer-dashboard {

    .aw-base-scrollPanel {
        padding: $padding_xsmall
    }

    .sw-ddsAdminObjdataIndexer-dashboardCommands {
        display: flex;
        flex-direction: row-reverse;
    }

    .sw-ddsAdminObjdataIndexer-dashboardCommands .sw-ddsAdminObjdataIndexer-dashboardLastUpdate  {
        .sw-property.sw-row .sw-property-name {
            text-align: right;
            margin-top: $margin-normal;

        }
        .sw-property.sw-row .sw-property-val {
            margin-top: $margin-normal;
            margin-right: $margin-small;
        }
    }

    .sw-ddsAdminObjdataIndexer-body {

        .sw-ddsAdminObjdataIndexer-healthStatus {
            width: 100%;

            .sw-ddsAdminObjdataIndexer-healthStatusBasic,
            .sw-ddsAdminObjdataIndexer-healthStatusTable {
                width: 50%;
                padding-right: rem-calc(10);
                .sw-ddsAdminHealthStatus-propSection {
                    margin-bottom: $margin-xsmall;
                    .sw-property.sw-row {
                        margin-bottom: $margin-small;

                        .sw-property-name {
                            width: 70%;
                            max-width: rem-calc(400)
                        }
                    }
                }
            }
            .sw-ddsAdminObjdataIndexer-healthStatusTable  {

                .sw-ddsAdminObjdataIndexer-subscribingProcesses {
                    .sw-subscribingProcess-title {
                        font-weight: 600;
                        padding-top: rem-calc(10);
                    }

                    .sw-subscribingProcess-table {
                        padding-top: $padding_small;
                        .aw-splm-table {
                            height: rem-calc(120);
                        }
                    }
                }
            }
        }

        .sw-ddsAdmin-indexingStatusSummary {
            width: 100%;
            padding-right: rem-calc(10);
        }

        .sw-ddsAdmin-indexingStatusSummary .sw-ddsAdminObjdata-indexingStatusSummary {
            .sw-ddsAdminObjdata-indexingStatusTable {
                display: flex;
                flex-direction: row-reverse;

                .sw-ddsAdminObjdata-indexingStatusTitle {
                    width: 100%;
                    .sw-property.sw-row .sw-property-name {
                        margin-top: $margin-normal;
                        font-weight: bolder;
                    }
                }

                .sw-ddsAdminObjdata-indexingStatusSplmTable {
                    .aw-splm-table {
                        height: rem-calc(250);
                        padding: 0 0 0 0;
                        width: 100%
                    }
                }
            }

            .sw-ddsAdminObjdata-indexingStatusColumn {
                .sw-chartMessages {
                    font-size: $fontsize_large;
                }

                .sw-ddsAdminObjdata-indexingStatusColumnChart .aw-chart {
                    height: rem-calc(300);
                    padding: 0 0 0 0;
                    width: 100%
                }
            }
        }

        .sw-ddsAdmin-indexingStatusSummary .sw-ddsAdminFileContent-indexingStatusSummary {
            .sw-ddsAdminFileContent-indexingStatusTable {
                display: flex;
                flex-direction: row-reverse;

                .sw-ddsAdminFileContent-indexingStatusStatusTitle {
                    width: 100%;
                    .sw-property.sw-row .sw-property-name {
                        margin-top: $margin-normal;
                        font-weight: bolder;
                    }
                }

                .sw-ddsAdminFileContent-indexingStatusSplmTable {
                    .aw-splm-table {
                        height: rem-calc(250);
                        padding: 0 0 0 0;
                        width: 100%
                    }
            }
            }

            .sw-ddsAdminFileContent-indexingStatusColumn {
                .sw-chartMessages {
                    font-size: $fontsize_large;
                }

                .sw-ddsAdminFileContent-indexingStatusColumnChart .aw-chart {
                    height: rem-calc(300);
                    padding: 0 0 0 0;
                    width: 100%
                }
            }
        }
    }
}
