/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2023.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-excelroundtrip-FolderImg {
    max-width: rem-calc(24);
}

.aw-excelroundtrip-FolderText {
    margin-bottom: $margin_normal;

    .aw-splm-tableCellText {
        padding-left: 0;
        padding-top: $padding_large;
    }
}

.aw-excelroundtrip-excelImportMappingSection .aw-widgets-propertyLabelTopValueContainer ul> :nth-last-child(3),
.aw-excelroundtrip-excelImportHeader .aw-widgets-propertyLabelTopValueContainer ul> :nth-last-child(3) {
    font-style: italic;
    opacity: 0.6;
}


.aw-excelroundtrip-excelImportMappingSection .aw-excelroundtrip-mapping-chevron-icon .aw-jswidgets-choice.gwt-ListBox {
    border-style: unset;
    padding: inherit;
}

.aw-excelroundtrip-importSubViewContainer {
    margin-left: $margin_normal;
}

.aw-excelroundtrip-importSubViewContainer .aw-excelroundtrip-importSubViewCheckbox {
    margin-left: rem-calc(-8);
}

.aw-excelroundtrip-importOfficePanel .aw-file-upload-fileName {
    margin: auto;
}

.aw-excelroundtrip-importOfficePanel .aw-xrt-thumbnailImagePanel .aw-base-icon {
    height: $margin_x_large;
    width: $margin_x_large;
}

.aw-excelroundtrip-matrixTypeHelpIcon {
    width: rem-calc(20);
    height: rem-calc(20);
    float: right;
    vertical-align: middle;
}

.aw-excelroundtrip-arrangePanel {
    .aw-arrange-panel{
        min-height: rem-calc(370);
    }
}

.aw-panel-footer.aw-excelroundtrip-footer{
    padding: 0
}

.aw-excelroundtrip-radiobuttons .sw-radio {
   width: rem-calc(72);
}

.aw-excelroundtrip-levelNumericBox{
    height: rem-calc(12);
    .sw-property-name {
        display: none;
    }
    .sw-property-val {
        width: rem-calc(50);
    }
}
