// Copyright 2025 Siemens Product Lifecycle Management Software Inc.
$data_height: 84px;


$command_size: 88px;

.aw-launcher {
    .aw-panelSection {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;

        .sw-section-content {
            margin: 0;
        }
    }

    .aw-pinnedTools {
        padding: $padding_large $padding_large 0 $padding_large;

        .aw-scrollExptySpace {
            .aw-command:last-child {
                margin-bottom: rem-calc($command_size);
            }
        }

        .aw-emptyWorkarea {
            min-height: rem-calc(2 * $command_size + 16px);
            max-height: rem-calc(2 * $command_size + 16px);
        }

        .aw-commands-commandBarHorizontal {
            .aw-commands-wrapper {
                flex-wrap: wrap;
                min-height: rem-calc(2 * $command_size);
                max-height: rem-calc(2 * $command_size);
                margin-top: $margin_large;

                overflow-y: auto;
                scroll-snap-type: y mandatory;
                scroll-behavior: smooth;

                .aw-command:nth-child(12n+1) {
                    scroll-snap-align: start;
                }

                .aw-command {
                    height: fit-content;

                    button {
                        height: rem-calc($command_size);
                        width: rem-calc($command_size);
                        justify-content: center;
                        align-items: center;
                        padding: 0;

                        .aw-commandIcon {
                            margin-top: $margin_medium;
                            margin-bottom: $margin_small;

                            span {
                                transform: scale(2);
                                margin: 0;
                            }
                        }

                        .aw-commands-commandIconButtonText {
                            font-size: $fontsize_normal;
                            line-height: 1.1;
                        }
                    }
                    &.aw-commands-placeholder-command {
                        height: rem-calc($command_size);
                        width: 2%;
                        transition: width 0.25s;
                    }
        
                    &.aw-commands-placeholderTransition {
                        border: unset;
                        width: rem-calc($command_size);
                    }
                }
            }
        }
    }

    .aw-pinnedData {
        padding: $padding_large $padding_large 0 $padding_large;

        .aw-emptyWorkarea {
            min-height: rem-calc(3 * $data_height + 16px);
            max-height: rem-calc(3 * $data_height + 16px);
        }

        .aw-TwoEmptyDataCellsSpace{
            .aw-command:last-child {
                margin-bottom: rem-calc($data_height * 2);
            }
        }

        .aw-OneEmptyDataCellsSpace{
            .aw-command:last-child {
                margin-bottom: rem-calc($data_height);
            }
        }

        .aw-commands-commandBarHorizontal {
            .aw-commands-wrapper {
                flex-wrap: wrap;
                min-height: rem-calc($data_height * 1);
                max-height: rem-calc($data_height * 3);
                margin-top: $margin_large;

                overflow-y: auto;
                scroll-snap-type: y mandatory;
                scroll-behavior: smooth;

                .aw-command:nth-child(6n+1) {
                    scroll-snap-align: start;
                }

                .aw-command {
                    width: 49%;
                    height: fit-content;
                    
                    .aw-commands-commandIconButton,
                    .aw-commands-commandIconButton.always-show-command-title {
                        height: rem-calc($data_height);
                        width: 100%;
                        padding: 0;
                    }

                    .aw-widgets-cellListItemContainer {
                        padding: rem-calc(6);
                    }

                    &.aw-commands-placeholder-command {
                        height: rem-calc($data_height);
                        width: rem-calc(1);
                        transition: width 0.25s;
                    }
    
                    &.aw-commands-placeholderTransition {
                        border: unset;
                        width: rem-calc($command_size);
                    }
                }
            }
        }
    }

    .aw-theme-separator {
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

.aw-allTools {
    height: 100%;
    overflow: hidden;
    padding: $padding_small;

    .aw-in-content-search-box {
        margin-top: $margin_x_large
    }

    .aw-base-scrollPanel {
        height: calc(100% - 100px);
        margin-top: $margin_x_large;

        .aw-widgets-cellListItem.aw-widgets-cellListItem{
            padding-left: $padding_normal;
        }
        .aw-widgets-cellListItemContainer{
            height: rem-calc(25);
        }

        .aw-list-cell{
            align-items: center;
            width: 100%;
            .aw-type-icon {
                height: $thumbnail_size;
                width: $thumbnail_size;
                margin-right: rem-calc(6);
                margin-bottom: $margin_xsmall;
                justify-content: center;
            }
            .sw-cell-header-title-container{
                justify-content: center;
            }
        }
    }
}
