/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2022.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-layout-primaryWorkarea .aw-search-inContentSearchBox.aw-organization-searchBox{
    width: 100%;
    padding: $padding_xlarge;
}

.aw-search-inContentSearchBox.aw-organization-searchBox{
    width: 100%;
    padding: 0;
}

.aw-layout-primaryWorkarea .aw-organizationTree-searchResult{
    height: 100%;
}

.aw-organization-result-section {
    .sw-section {
        margin: 0;
        border: 1px;
    }
}

.aw-orgTreeResultsFiltersTab .aw-results-section {
    .sw-section-content {
        padding-bottom: 0;
    }
}
