// Copyright 2024 Siemens Product Lifecycle Management Software Inc.
.aw-layout-flexibleWorkarea .sw-workarea-component {
    .aw-relations-tree {
        .aw-command-bar.aw-commands-commandBarHorizontal.sw-switcher {
            .aw-commandId-Awp0DisplayTogglesSummary .aw-commands-showIconLabel.aw-commands-commandIconButtonText {
                width: max-content;
                max-width: max-content;
            }

            .aw-commands-wrapper .aw-command .aw-commandId-Awp0DisplayTogglesSummary {
                height: $horizontal_command_bar_button_height;
            }
        }

        .aw-relations-treeHeaderTitle {
            width: 100%;
            font-size: $fontsize_large;
            display: inherit;
            justify-content: center;
            flex-direction: column;
            padding: $padding_normal;
            font-weight: $bold_font_weight;
            margin-top: $margin_xsmall;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .aw-relations-treeHeaderBorder {
            border-bottom: 1px solid;
            margin-bottom: $margin_normal;
            flex: none;
        }
    }
}

.aw-preview-FeatureContainer {
    margin: $margin_normal;
    width: rem-calc(450);

    .aw-preview-featureToggleLabel {
        font-size: $fontsize_large;
        font-weight: 700;
    }
}

.aw-relationsTree-breadcrumb.sw-intermediaryBreadcrumb{
    min-width: 100px;
}


.relations-tree-arrow  > div > div:nth-child(1)::before {
    content: "\21D2"; /* Unicode for the character => */
    font-size: $fontsize_large;
    margin-right: $margin_small;
}
