/*
@<COPYRIGHT>@
==================================================
Copyright 2022.
Siemens Product Lifecycle Management Software Inc.
All Rights Reserved.
==================================================
@<COPYRIGHT>@
*/

.aw-xrteditor-listbox {
    padding-right: $padding_xlarge;
}

.aw-xrteditor-listboxLabel {
    padding-left: $padding_normal;
    padding-right: $padding_small;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aw-xrteditor-textboxLabel {
    margin-top: $margin_large;
    padding-right: $padding_small;
}

.aw-xrteditor-textbox {
    margin-bottom: $margin_normal;
    margin-left: $margin_normal;
    width: 15%;
}

.aw-xrteditor-panel {
    width: 20%
}

.aw-xrtSourceEditor {
    width: 80%
}

.aw-align-items-center {
    align-items: center;
}

.aw-xrteditor {
    width: 100%
}

.aw-xrteditor-headerContainer {
    padding: $padding_normal $padding_xlarge $padding_normal $padding_normal;
    overflow: visible;
}

.aw-xrteditor-emptyStateContainer {
    align-items: center;
    font-size: $fontsize_large;
}

.aw-xrteditor-inLineBold {
    font-style: normal;
    font-weight: $bold_font_weight;
}

.aw-xrteditor-emptyStateText {
    width: rem-calc(800);
    font-style: italic;
    text-align: center;
    padding: $padding_normal;
}

.aw-xrteditor-emptyStateTitle {
    font-size: $fontsize_x_large;
    font-weight: $bold_font_weight;
    padding: $padding_normal;
}

.aw-xrteditor-toolbar label.aw-widgets-textBoxCrumb {
    width: 100%;
}

.aw-xrteditor-headerWrapper {
    align-items: center;
}


.aw-xrteditor-headerToolbar{
    .aw-commands-command{
        display: flex;
        align-items: center;
    }
}

.aw-xrteditor-toolbar {
    height: rem-calc(48);
    padding-left: $padding_xlarge;
    padding-right: $padding_small;
    border-bottom-style: solid;
    border-bottom-width: rem-calc(1);
    .aw-commands-wrapper {
        overflow: visible;
    }
}
