/* Copyright 2022 Siemens Product Lifecycle Management Software Inc. */


.aw-viewer-explodeViewToolbar {
    display: flex;
    overflow: hidden;
}

.aw-viewer-explodeViewToolbar >* {
    margin: auto;
    padding: $padding_normal;
}

.aw-viewer-explodeViewSlider {
    min-width: rem-calc(400);
}

.aw-viewer-pvwPartHoverTooltip span {
    display:none;
    overflow: hidden;
    z-index: 10000;
}
.aw-viewer-pvwPartHoverTooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

