/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2015.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

/* pmitool */
.aw-pmitool-showSection {
    div.sw-section.sw-section-content.sw-column {
        margin-top: rem-calc(12);
    }
}

.sw-column>.sw-section:not(:last-child).aw-pmitool-showSection {
    margin-bottom: 0;
    padding-bottom: 0;
}

.treePmi {
    li.aw-ui-treeNode .aw-ui-treeNode-valueContainer {
        padding: 0;
        display: flex;
        align-items: center;
    }
}

.aw-pmiTool-refsetLabel {
    margin-top: rem-calc(10);
}

.pmiTool-pmiTree {
    display: inline-flex;
    align-items: center;
    padding: rem-calc(5);

    label.sw-property.sw-row.sw-autoSize,
    label.sw-property.sw-component.sw-nonText {
        width: rem-calc(30);
        margin-bottom: 0;
    }
}

.aw-refSet-change-panel {
    border: 1px solid;
    border-width: 1px;
    max-height: rem-calc(108);
    overflow-y: auto;

    .sw-cell-image  {
        display: none;
    }
    .sw-cell-valName {
        display: none;
    }
    .aw-widgets-cellListCellTitleBlock {
        .aw-widgets-cellListCellTitle {
                font-size: $fontsize_normal ;
            }
        }    
    }

.aw-refSet-change-panel-label{
    .sw-hideLabelName {
        margin-bottom: rem-calc(5);
    }
}
