/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2024.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/
@import 'vars/afx-settings';

.aw-ebom-landingPageTile{
    margin-left: $margin_large;
    margin-top: $margin_large;
    .aw-tile-tileMain{
        margin-right: $margin_large;
        margin-bottom: $margin_large;
    }
}

.aw-ebom-landingPageTileColumn{
    max-width: rem-calc(358);
}

.aw-ebom-myStuffSection{
    font-size: $fontsize_x_large;
    font-weight: bold;
    height:50%;
}

.aw-ebom-commonTileSection {
    font-size: $fontsize_x_large;
    font-weight: bold;
    height:50%;
}

.aw-ebom-landingPage{
    margin: $margin_large;
}

.aw-ebom-listLabel {
    margin-top: $margin_large;
    margin-left: $margin_large;
    position: absolute;
    font-size: $fontsize_x_large;
}

.aw-ebom-listSection {
    width: 100%;
    margin-top: rem-calc(48);
    margin-left: $margin_large;
    margin-bottom: $margin_large;
    margin-right: $margin_large;
}

.aw-ebom-scrollSection {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
