/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2020.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/
@import 'mixins/mixins';

.aw-pma-updateSummaryContainer, .aw-pma-Separator
{
    border-color: $brand_primary_border;
}

.aw-pma-actionableTile {
    border-color: $brand_primary_border;
    border-left-color: $Siemens_Yellow_9;
    -moz-box-shadow: $drop_shadow_large;
    -webkit-box-shadow: $drop_shadow_large;
    box-shadow: $drop_shadow_large;
}

.aw-pma-nonactionableTile {
    border-color: $brand_primary_border;
    border-left-color: $Siemens_Blue_7;
    -moz-box-shadow: $drop_shadow_large;
    -webkit-box-shadow: $drop_shadow_large;
    box-shadow: $drop_shadow_large;
}

.aw-pma-updateSummaryTile {
    &:hover {
        background-color: $cell_list_item_hover;

        .aw-theme-iconOutline {
            fill: $brand_selection_text_hover;
        }
    }

    &:active {
        background-color: $brand_selection_background_active;
    }

    &.aw-pma-updateSummaryTileSelected {
        background-color: $cell_list_item_selected;

        .aw-theme-iconOutline {
            fill: $brand_selection_text_selected;
        }

        &:hover {
            background-color: $cell_list_item_selected_hover;
        }
    }
}

.sw-popup .aw-pma-popupColor{
    &.sw-popup-layout{
        border-color: $brand_status_information_accent;
        background-color: $brand_status_information_background;
        color: $brand_primary_content_text;
        border-left-color: $brand_status_information;
    }
}

.aw-pma-updateSummaryHeader{
    border-color: $aw_gray_22;
}

.aw-pma-autoCreatePartMessage, .aw-pma-noPartAvailableMessage{
    color: $Status_Gray_Base;
}
