/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2020.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/
@import 'vars/afx-settings';

.aw-pma-updateSummaryContainer
{
    border-left-width: 1px;
    border-left-style: solid;

    .sw-command-panelContent {
        padding: 0;
    }
    .aw-widgets-propertyContainer {
        margin-bottom: 0;
    }
}

.aw-pma-chipSection {
    padding: 4px 4px 4px 4px;
}

.aw-pma-filterOptionsSection {
    padding-top: rem-calc(10);
    padding-left: rem-calc(10);
    overflow: visible;
}

.aw-pma-updateSummaryTileContent{
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
}

.aw-pma-actionableTile {
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    border-left-width: 1px;
}

.aw-pma-nonactionableTile {
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    border-left-width: 1px;
}

.aw-pma-actionableTileHeader {
    font-size: $fontsize_large;
    font-weight: $bold_font_weight;
    margin: rem-calc(1) $margin_small 0 rem-calc(1);
    padding-left: rem-calc(5);
}

.aw-pma-nonactionableTileHeader {
    font-size: $fontsize_large;
    font-weight: $bold_font_weight;
    margin: rem-calc(1) $margin_small 0 rem-calc(1);
    padding-left: rem-calc(5);
}

.aw-pma-updateSummaryTileInfo {
    margin: 0 $margin_normal 0 $margin_normal;
    padding: $padding_small 0 $padding_small $padding_normal;
}

.aw-pma-updateSummaryTileInfo.aw-widgets-cellListItemCell {
    cursor: pointer;
}

.propertyLabelTopContainer.quantityChangeLabel .sw-property-val {
        width: auto;
        word-break: keep-all;
}

.aw-pma-Separator {
    border-right: 1px;
    border-right-style: solid;
    height: auto;
}

.aw-pma-updateActionControl {
    .sw-property-name {
        display: none;
    }
    .aw-jswidgets-radioButtonItem .aw-jswidgets-radioText {
        margin: 0 8px 0 0;
    }
}

.aw-pma-singleUpdateAction {
    margin-bottom: 8px;
}

.aw-pma-footer {
    padding: 4px 4px 4px 4px;
}

.sw-popup .aw-pma-popupColor{
    &.sw-popup-layout{
        border: 1px solid;
        border-radius: rem-calc(3);
        border-left-width: $margin_small;
        border-left-style: solid;
        margin-bottom: $margin_normal;
        max-width: rem-calc(470);
        word-break: break-word;
        width: 100%;
    }
    .sw-column{
        .sw-section{
            margin-bottom: 0;
        }
    }
}

.aw-pma-popupScreenMask {
    .aw-popup-screenMask {
        opacity: 0.2;
    }
}

.aw-pma-generateBOMPopupLabel.sw-property.sw-row {
    .sw-property-val {
        display: none;
    }
    .sw-property-name {
        width: auto;
        display: contents;
    }
}

.aw-pma-generateBomPopupBtn {
    justify-content: end;
}

.aw-pma-indicatorChipTrackingIcon {
    height: 2em;
    width: 2em;
}

.aw-pma-ecnIndicatorInCbaSection {
    height: 2.67em
}

.aw-pma-space-before-ecnIndicator{
    width: 1.34em
}

.aw-pma-ecnIndicatorText {
    margin-left: $margin_small;
}

.aw-pma-updateButton {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.aw-pma-ecnIndicator{
    display: contents;
}

.aw-pma-runInBackgroundCheckBox{
    margin-left: rem-calc(6);
}

.aw-pma-generateBOMPopupSection{
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
}

.aw-pma-updateSummaryHeaderText{
    font-weight: bold;
}

.aw-pma-updateSummaryHeaderContent{
    margin: rem-calc(5);
    flex-direction: column;
}

.aw-pma-updateHeaderTile {
    margin: rem-calc(10);
}

.aw-pma-updateSummaryHeader{
    border-style: solid;
    border-width:rem-calc(1);
    margin-top: rem-calc(5);
}

.aw-pma-updateSummaryHeaderIcon{
    box-sizing: content-box;
    margin-left: rem-calc(6);
}

.aw-pma-propertyName.aw-pma-propertyName{
    min-width : rem-calc(60);
    font-weight: normal;
}

.sw-component.aw-pma-propertyName{
    margin-bottom : rem-calc(0.16);
}

.aw-pma-propertyObjectString{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.aw-pma-flexible-item-title{
    font-weight: bold;
    padding-left: rem-calc(7);
    margin: 0 $margin_normal 0 $margin_normal;
    padding: $padding_small 0 $padding_small $padding_normal;
}

.aw-pma-updateSummaryHeaderContent.align-arrow-center{
    align-items: center;
}

.aw-pma-updateHeaderTileText{
    overflow-wrap: anywhere;
}

.aw-pma-createPartcontainer{
    display: contents;
}

.aw-pma-propertyNewName{
    max-width: fit-content;
}

.aw-pma-autoCreatePartMessage, .aw-pma-noPartAvailableMessage{
    font-weight: 400;
    font-style: italic;
    font-size: $fontsize_large;
}

.aw-pma-autoCreatePartMessage{
    margin-top: $margin_medium;
}

.aw-pma-add-part-button{
    justify-items: end;
    width: -webkit-fill-available;
    align-items: flex-end;

    .aw-commands-commandIconButtonText{
        align-content: center;
    }
}

.aw-pma-alignedPartSection{
    label:first-child {
        margin-left: auto;
    }
}

.aw-pma-createPartTitle, .aw-pma-alignedPartTitle{
    font-weight: bold;
    display: block;
    align-content: center;
}


.pma-infoIcon {
    height: rem-calc(16);
    width: rem-calc(16);
}

label.pma-createPartInfoTooltip.sw-property .sw-property-name {
    width:rem-calc(85);
    min-width:rem-calc(85);
    font-weight: bold;
    flex-basis: fit-content;
    align-items: normal;
}

.aw-pma-radioButton{
    margin-bottom: auto;
}

.aw-pma-createPartLabel{
    margin: $margin_medium 0 $margin_medium 0;
}

.aw-pma-assignPartIdTextBox .sw-property-name{
    margin-top: $margin_medium;
}
