// Copyright 2021 Siemens Product Lifecycle Management Software Inc.

/* aw-markup */

.aw-widgets-cellListCellImage.aw-markup-cellIndentation {
    padding-left: $padding_xlarge;
}

.aw-markup-overflowHidden {
    overflow: hidden;
}

.aw-markup-groupCellTitle {
    width: 100%;
    text-overflow: ellipsis;
}

.aw-markup-cell {
    width: 100%;
    flex: 1 1 auto;
}

.aw-markup-cell ul {
    list-style: disc outside;
}

.aw-markup-cell ol {
    list-style: decimal outside;
}

.aw-markup-cell i,
.aw-markup-cell em {
    font-style: italic;
}

.aw-markup-colorPatch {
    display: inline-block;
    width: rem-calc(16);
    height: rem-calc(16);
    margin: $margin_small;
    border: $command_panel_border;
}

.aw-markup-colorPicker {
    width: 100%;
    position:absolute;
    opacity: 0;
    display: inline-block;
}

.aw-markup-colorPick {
    width: 100%;
    position:absolute;
    opacity: 0;
    display: none;
}

.aw-markup-colorOpacity {
    padding-right: $padding_small;
}

.aw-markup-gdntSymbols {
    width: 100%;
}

.aw-markup-gdntSymbols span {
    width: 7%;
    display: inline-block;
    text-align: center;
    margin: $margin_small 0 $margin_small 0;
    font-size: $fontsize_2x_large;
    cursor: pointer;
}

.aw-markup-gdntFrame {
    border: $command_panel_border;
    border-collapse: collapse;
    margin: $margin_small 0 $margin_small 0;
}

.aw-markup-gdntFrame td {
    border: $command_panel_border;
}

.aw-markup-gdntFrame input[type="text"] {
    border: none;
}

.aw-markup-gdntTable {
    border:1px solid;
    border-collapse:collapse;
    width:20px;
}

.aw-markup-gdntTableCell {
    border:1px solid;
    padding: 2px 4px 2px 4px;
}

.aw-markup-weldSymbols {
    width: 100%;
}

.aw-markup-weldSymbols span {
    width: 12.5%;
    display: inline-block;
    text-align: center;
    font-size: $fontsize_2x_large;
    cursor: pointer;
}

.aw-markup-weldFrame {
    margin: $margin_normal 0 $margin_normal 0;
}

.aw-markup-weldFrame svg {
    display: block;
    margin: $margin_small auto $margin_small auto;
}

.aw-markup-weldColumnEven {
    width: rem-calc(60);
}
.aw-markup-weldColumnOdd {
    width: rem-calc(24);
}

.aw-markup-leaderSymbols {
    width: 100%;
}

.aw-markup-leaderSymbols span {
    width: 10%;
    display: inline-block;
    text-align: center;
    margin: $margin_small 0 $margin_small 0;
    font-size: $fontsize_2x_large;
    cursor: pointer;
}

.aw-markup-stampMargin {
    margin: 10px;
}

.aw-markup-editor.ck.ck-editor__editable_inline {
    margin: $margin_normal 0;
    min-height: 5rem;
    max-height: 20rem;
    border: $command_panel_border;
}

.ck-font-size-dropdown .ck.ck-dropdown__panel {
    max-height: 60vh;
    overflow-y: auto;
}

.aw-markup-editor.ck.ck-content {
    span, p, strong, b, em, i {
        font-family: inherit;
    }
}

.aw-markup-cellRichContent {
    margin-top: $margin_small;
    max-height: 8rem;
    span, p, strong, b, em, i {
        font-family: inherit;
    }
}

li.aw-widgets-cellListItemSelected .aw-markup-cellRichContent {
    max-height: none;
}

.aw-markup-geomDef {
    display: none;
}

.aw-markup-geomVal {
    position: relative;
    margin: $margin_small 0 $margin_small 0;
    border: $command_panel_border;
}

.aw-markup-geomSvg {
    margin: $margin_small $margin_small 0 $margin_small;
}

.aw-markup-find {
    margin-bottom: $margin_small;
}

.aw-markup-symbol {
    margin: $margin_small;
    flex: 50%;
    flex-direction: column;
}

.aw-markup-symbolDisplay {
    display: inline-block;
}

.aw-markup-symbolGroupTitle {
    margin: $margin_normal 0 $margin_normal 0;
}

span.aw-svgEdit-subTitle
{
    display: inline;
    margin-bottom: 0;
    font-size: $fontsize_2x_large;
}
span.aw-svgcontent-title
{
    font-size: $fontsize_2x_large;
}

.aw-taskbasedpage-headerTitleSeparator {
    padding-left: $padding_normal;
    padding-right: $padding_normal
}

.aw-markup-commentFontStyle {
    font-style: italic;
}

.aw-markup-canvasFont {
    font-family: inherit;
    font-size: $fontsize_normal;
}

.aw-markup-tooltip {
    margin: 4px 0 4px 0;
}

.aw-markup-htmlReportBody {
    font-family: Sans-serif;
}
.aw-markup-htmlReportStatus {
    float: left;
}
.aw-markup-htmlReportUtil {
    float: right;
}
.aw-markup-htmlReportTable {
    clear: both;
}
.aw-markup-htmlReportImageCell {
    vertical-align: top;
}
.aw-markup-htmlReportImage {
    border: 1px solid;
}
.aw-markup-htmlReportCommentCell {
    border-top: 1px solid;
    padding-left: 5px;
    vertical-align: top;
}
.aw-markup-htmlReportDate {
    clear: both;
    padding-top: 5px;
}