/* Copyright 2025 Siemens Product Lifecycle Management Software Inc. */
.aw-markup-symbolSection {
    button {
        background-color: inherit;
        color: inherit;
        padding: 0;
    }
}

.aw-markup-gdntTable {
    border-color: $brand_primary_box_shadow;
}

.aw-markup-gdntTableCell {
    border-color: $brand_primary_box_shadow;
}

.aw-markup-htmlReportImage {
    border-color: $brand_tertiary_content_background;
}
.aw-markup-htmlReportCommentCell {
    border-top-color: $brand_tertiary_content_background;
}
