// @<COPYRIGHT>@
// ==================================================
// Copyright 2023.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-occmgmtConfigBaseline_ChipHeader {
    display: contents;

    .sw-flex-workarea-header2 {
        min-width: rem-calc(1);
    }
}

.aw-occmgmtConfigurationBaseline-chipPadding {
    padding: $padding_normal;
    padding-left: $padding_small;

    .aw-widgets-chip {
        margin-right: rem-calc(12);

        &:last-child {
            margin-right: rem-calc(18);
        }
    }
}

.aw-configurationBaseline-headerTitle {
    padding-left: $padding_xlarge;
}

.aw-configurationBaseline-infoIcon {
    width: rem-calc(15);
    height: rem-calc(15);
}

.aw-configBaseline-checkbox .sw-property.sw-row,
.aw-configBaseline-validationRule {
    margin-bottom: 0;
}

.aw-occmgmtConfigurationBaseline-exitCmd .aw-command-bar.aw-commands-commandBarHorizontal:not(.aw-command-bar-iconOverText) .aw-command {
    height: 100%;
}
