// @<COPYRIGHT>@
// ==================================================
// Copyright 2022.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-occmgmtSplit-buttonMargin {
    margin-left: $padding_normal;
}

.aw-occmgmtSplit-taskbarHeight {
    display: contents;
}

.aw-occmgmt-split{
    .sw-page-levelBar{
        display: block;
    }
    .aw-occmgmt-seperator{
        margin-right: $margin_small;
    }
    .sw-layout-header{
        height: rem-calc(40);
    }
    .aw-layout-splitter{
        flex-basis: rem-calc(8);
    }
}

//Due to recent cfx changes, the border size and left property within the aw-layout-splitterLine class is overridden,
//resulting in the vertical splitter size is small and positions is toward right in split view.
//Therefore, there is a need to increase the priority of the border size and left property
//So that in split view, the vertical splitter show as per IA split mockup i.e. border size of 2px and is positioned at the center.
.aw-layout-workarea .aw-occmgmt-split .aw-layout-splitter .aw-layout-splitterLine
{
    border: 2px solid;
    left: rem-calc(2);
}

.aw-occmgmt-split-left {
    flex: 1 1 auto;
    min-width: rem-calc(200);
}

.aw-occmgmt-split-right {
    flex: 1 1 auto;
    min-width: rem-calc(200);
}
