/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2019.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

@import 'mixins/mixins';

.aw-scheme-selectIcon {
    width: rem-calc(12);
    height: rem-calc(12);
    display: inline-block;
    margin-right: $margin_small;
}

.searchClass {
    display: flex;
    padding-bottom: rem-calc(5);
}
.aw-partition-filter-panel {
    width: 100%;
}

.aw-partition-locationTitle {
    padding-left: $padding_small;
    display: inline-table;
}

.aw-partition-mergeBreadcrumbName {
    font-size: $header_fontsize;
    padding-right: $padding_small;
    padding-top: rem-calc(2);
}


.aw-partition-filterInBetweenSpace {
    padding-bottom: $padding_normal;
    font-weight: 600;
    cursor: pointer;
}

.aw-partitionPanel-nevigateIcon {
    width: rem-calc(12);
    height: rem-calc(12);
    margin-right: rem-calc(2);
    float: right;
    filter: grayscale(100%);
}
.aw-partition-filterButton{
    margin: auto;
}

.aw-searchBox-width{
    max-width:  rem-calc(400);
}

details.aw-partition-left-panel-view {
    width: rem-calc(320);
}

details.aw-partition-right-panel-view {
    width: calc(100% - 350px);
    height: 100%;
}

details.aw-panelSection.aw-partition-right-panel-view{
    padding-bottom: 4rem;
}

.aw-partitionPanel-schemeTitle {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
