// Copyright 2019 Siemens Product Lifecycle Management Software Inc.
.aw-occmgmt-contextOverrideHeaderLabel {
    color: $Siemens_Yellow_10;
}

.aw-occmgmt-duplicateEditableIndicator,
aw-splm-table .aw-occmgmt-duplicateEditableIndicator {
    border-color: $aw_gray_23;
}

.aw-widgets-cellListItem {
    .aw-markup-added * {
        color: $brand_markup_added_color;
    }

    .aw-markup-deleted {

        a,
        * {
            text-decoration-color: $brand_markup_deleted_color;
        }
    }
}

.aw-grid-markup-deleted {

    a,
    * {
        text-decoration-color: $brand_markup_deleted_color;
    }
}

.aw-occmgmt-split {
    width: 100%;
    background-color: $brand_secondary_content_background;
    .sw-leafContainer{
        background-color: transparent;
    }
    .afx-accent-background{
        background-color: transparent;
    }
    .aw-layout-splitter{
        background-color: $brand_flexible_workarea_background;
    }
}

//Due to recent cfx changes, the border-color property within the aw-layout-splitterLine class is overridden,
//resulting in the vertical splitter not being visible in split view.
//Therefore, there is a need to increase the priority of the border-color property
//so that the vertical splitter becomes visible in split view, and its color matches that of the workareaToolbarLite background.
.aw-layout-workarea .aw-occmgmt-split .aw-layout-splitter .aw-layout-splitterLine
{
    border-color: $brand_quaternary_content_background;
}

.aw-occmgmt-cellImageTooltip,
.aw-occmgmt-cellImageTooltip:hover {
    border-color: $Siemens_Blue_12;
}

.aw-splm-table .ui-grid-row.aw-row-icon.aw-occmgmtjs-partialSelection {
    background: $Siemens_Blue_10_Old;
}
aw-splm-table .aw-splm-table .aw-occmgmtjs-overrideIcon {
    .aw-splm-tableCellText:empty{
        background-color: inherit;
    }

}

.aw-occmgmt-transformBorder {
    border-color:  $aw_gray_23;
}
