/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2019.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

@import 'mixins/mixins';


.aw-subset-panel-padding{
    padding-top:  $padding_large;
}

.aw-subset-spatial{
    padding-top:  rem-calc(30);
    margin-left: $margin_normal;
}

.aw-subset-spatialFilterInBetweenSpace {
    padding-bottom: $padding_normal;
}

.aw-proximity-selectIcon {
    width: rem-calc(12);
    height: rem-calc(12);
    display: inline-block;
    margin-right: $margin_small;
}

.aw-proximity-target {
    font-weight: 700;
    font-size: $fontsize_3x_large;
    position: relative;
    left: 0;
    top: -5px;
    padding-right: $padding_xsmall;
}

.sw-button-iconContainer.aw-proximity-missingTargetInfo {
    cursor: default;
}

.aw-subset-filterCommandBar {
    margin-bottom: $margin_small;
}

.aw-subset-recipeGroup {
    box-sizing: border-box;
    min-height: 40px;
}

.aw-layout-flexbox.aw-widgets-chipListPanel.aw-subset-mainRecipeGroup {
    flex-flow: column
}

.aw-panelSection.aw-subset-recipeGroup {
    margin-bottom: 0;
    margin-top: $margin_xsmall;
}

.aw-subset-mainRecipeGroup > *:not(:last-child) {
    margin-bottom: $margin_xsmall;
}

.aw-widgets-chip.aw-search-breadcrumb-chip {
    &.aw-subset-recipeChip {
        align-self: start;
        margin-bottom: $margin_xsmall;
    }
}

.aw-subset-nestedRecipeChip.aw-widgets-chip.aw-search-breadcrumb-chip {
    align-self : start;
    margin-bottom: $margin_xsmall;
}

.aw-subset-recipeGroupPanel {
    padding-top: $padding_normal;
}

.aw-subset-recipeCommandGroup.aw-command-bar.aw-commands-commandBarHorizontal .aw-commands-showIconLabel .aw-commands-commandIconButton {
    max-width: none;
 }

.aw-subset-recipeCommandGroup.aw-command-bar.aw-commands-commandBarHorizontal .aw-commands-showIconLabel .aw-commands-commandIconButton .aw-commands-commandIconButtonText{
    white-space: nowrap;
    max-width: none;
    width: auto;
}

.sw-flex-row.max-height {
    max-height: 40%;
    flex: 0 0 auto;
}

.aw-subset-spatialLinkDisable {
    pointer-events: none;
    opacity: 0.5
}
