/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2021.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-filter-commands{
    box-shadow: $drop_shadow_normal;
    -moz-box-shadow: $drop_shadow_small;
    -webkit-box-shadow: $drop_shadow_small;
}

.aw-filter-italicText {
    font-style: $changed_content_font_style;
}

.aw-proximity-targetColor {
    color: $Siemens_Blue_7;
}

details.aw-panelSection.aw-subset-recipeGroupColor {
    background-color:$Siemens_Blue_10_Old;
    border-color: $Siemens_Blue_7;
}

.aw-widgets-chip:not(.disabled).base-button.aw-subset-nestedRecipeOrChip
{
    background-color: $Siemens_Blue_7;
    color: $Siemens_Snow;
}

.aw-widgets-chip:not(.disabled).base-button.aw-subset-nestedRecipeNotChip
{
    border-color: $Siemens_Status_Red;
    background: $Siemens_Status_Red;
    color: $Siemens_Snow;
}
