<%
let imagePath = basePath + '/image/';
let columnPropertyName = _.get(column, 'propertyName');
let columnImgAltText = _.get(column, 'displayName');
let columnValues = _.get(vmo, 'props.cm0UsageRevision.uiValues');

<!-- Check if columnValues exist and are not empty -->
if (columnValues && columnValues != '') {
    imagePath += "typePartUsage48.svg";
}
%>

<!-- Render the image and label if columnValues exist and not empty -->
<% if (columnValues && columnValues != '') { %>
    <!-- Image element with dynamically set src, title, and alt attributes -->
    <img src="<%= imagePath %>" title="<%= columnImgAltText %>" class="aw-base-icon aw-type-icon aw-splm-tableIcon" alt="<%= columnImgAltText %>">
    <!-- Label displaying columnValues -->
    <label class="aw-change-icon-label"><%= columnValues %></label>
<% } %>
